# Ignore assets that aren't needed yet
/assets/**/bazooka.png
/assets/**/bazooka_item.png
/assets/**/bazooka_shot.wav
/assets/**/bazooka_small.png
/assets/**/beltclip.png
/assets/**/blood1.png
/assets/**/blood2.png
/assets/**/blood3.png
/assets/**/blood4.png
/assets/**/blood5.png
/assets/**/blood6.png
/assets/**/blood7.png
/assets/**/blood8.png
/assets/**/bodypart1.png
/assets/**/bodypart2.png
/assets/**/bodypart2_2.png
/assets/**/bodypart3.png
/assets/**/bodypart3_2.png
/assets/**/bodypart4.png
/assets/**/bodypart4_2.png
/assets/**/bodypart5.png
/assets/**/bodypart5_2.png
/assets/**/boom.wav
/assets/**/bullethit.wav
/assets/**/chainsaw.png
/assets/**/chainsaw.wav
/assets/**/chainsaw_idle.wav
/assets/**/chainsaw_item.png
/assets/**/chainsaw_small.png
/assets/**/dead1.wav
/assets/**/dead2.wav
/assets/**/dead3.wav
/assets/**/dead4.wav
/assets/**/dead5.wav
/assets/**/dead6.wav
/assets/**/dead7.wav
/assets/**/dead8.wav
/assets/**/dead9.wav
/assets/**/empty.wav
/assets/**/expl1.png
/assets/**/fire1.png
/assets/**/fire2.png
/assets/**/fire3.png
/assets/**/foot_left.png
/assets/**/foot_right.png
/assets/**/footstep.wav
/assets/**/grenade.png
/assets/**/health_item.png
/assets/**/healthbar.png
/assets/**/hit1.wav
/assets/**/hit2.wav
/assets/**/hit3.wav
/assets/**/hit4.wav
/assets/**/launcher.png
/assets/**/launcher.wav
/assets/**/launcher_item.png
/assets/**/launcher_small.png
/assets/**/logo.png
/assets/**/machinegun.png
/assets/**/machinegun_item.png
/assets/**/machinegun_shot.wav
/assets/**/machinegun_small.png
/assets/**/menuback.png
/assets/**/menubullet.png
/assets/**/mousepointer.png
/assets/**/pick.wav
/assets/**/pistol_shot.wav
/assets/**/radar.png
/assets/**/radar2.png
/assets/**/reload.wav
/assets/**/rocket.png
/assets/**/shotgun.png
/assets/**/shotgun.wav
/assets/**/shotgun_item.png
/assets/**/shotgun_small.png
/assets/**/sight.png
/assets/**/smenubullet.png
/assets/**/smokeanim.png
/assets/**/tracer_bullet.png
